body {
    display:flex; 
    flex-direction:column; 
    justify-content:center;
    min-height:100vh;
}

.jumbotron {
    background-color: #ADD8E6;
}

#result {
    margin: auto;
    width:60%;
}

#result-text {
    font-size: 20pt;
}

.card-img-top {
    height: 70vh;
    width:100%;
    object-fit: cover;
}